logging.level.root=info

discord.token=
discord.command-prefix=!

database.url=
database.username=
database.password=

bot.name=wyBin
bot.github=https://github.com/wesley-221/wyBinBot
bot.issues=https://github.com/wesley-221/wyBinBot/issues