logging.level.root=info

server.port=8070
security.require-ssl=true
server.ssl.key-store=/etc/letsencrypt/live/example.com/keystore.p12
server.ssl.key-store-password=
server.ssl.keyStoreType=PKCS12
server.ssl.keyAlias=tomcat

discord.token=
discord.command-prefix=!

spring.datasource.url=
spring.datasource.username=
spring.datasource.password=

bot.name=wyBin
bot.github=https://github.com/wesley-221/wyBinBot
bot.issues=https://github.com/wesley-221/wyBinBot/issues